.button {
    height: 64px;
    background-color: aquamarine;
    border-radius: 16px;
    border-color: aqua;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}

.yellow {
    min-width: 150px;
    font-size: 24px;
    background-color: transparent;
    border-color: #E9FD9A;
    color: #E9FD9A;
    padding: 8px;
}


.yellow:hover {
    background-color: rgba(255, 255, 255, .1);
}