.table {
    display: flex;
    justify-content: center;
    max-height: 66vh;
}

.section {
    padding: 10px;
}

.labelLine {
    display: flex;
}

.label {
    display: inline-block;
    height: 100px;
    width:100px;
    max-height: 19vh;
    max-Width: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E9FD9A;
    background-color: transparent;
    color: #E9FD9A;
    border-radius: 16px;
    margin: 2px;
    cursor: pointer;
}

.label:hover {
    background-color: rgba(255, 255,255, .1);
}

.label.checked {
    border: 2px solid #E9FD9A;
    background-color: rgb(233, 253, 154, .2)
}

.label input[type=radio]{
    display: none;
}

.suit {
    font-size: 42px;
}

.suit.black {
    color: black;
}

.suit.red {
    color: red;
}